img{
    width:100%;
}
.row{
    display: flex;
}
.col{
    border: 2px solid black;
    margin:2px;
    background-color: lightpink;
}
@media(max-width:1000px){
    .col{
        border: 2px dashed brown;
        margin:2px;
        background-color: lightgreen;
    }
}

@media(max-width:540px){
    .row{
        display: block;
    }
    .col{
        border: 2px dashed brown;
        margin:2px;
        background-color: lightblue;
    }
}